.app-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 50px 0em 0 0em;

	padding: 4%;
	gap: 0.8em;
}

@media screen and (min-width: 420px) {
	.app-container {
		width: 90%;
	}
}

@media screen and (min-width: 600px) {
	.app-container {
		width: 80%;
	}
}

@media screen and (min-width: 900px) {
	.app-container {
		width: 84%;
	}
}
@media screen and (min-width: 1024px) {
	.app-container {
		width: 78%;
	}
}
@media screen and (min-width: 1400px) {
	.app-container {
		width: 74%;
	}
}
