* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Rubik, sans-serif;
	letter-spacing: 120%;
	line-height: 135%;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: hsl(223, 19%, 93%);
	color: hsl(211, 10%, 45%);
}
#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (min-width: 600px) {
	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	body {
		font-size: 17px;
	}
}
